body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-weight: bold;
    text-align: center;
}

h2 {
    text-decoration: underline;
}

table.ibp, th.ibp, td.ibp {
    border: none;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

th.ibp {
    background-color: white;
    font-weight: bold;
}

th {
    background-color: #cccccc;
    font-weight: bold;
}

.center {
    text-align: center;
}

.toc {
    line-height: 2em;
}
.toc a {
    color: black;
    text-decoration: none;
}
.toc a:hover {
    color: blue;
    text-decoration: underline;
}

ol.practice, .double {
    line-height: 2em;
}

/*Making a list a), b), c), etc.*/
ol.alpha {
    counter-reset: list;
}
ol.alpha > li {
    list-style: none;
    position: relative;
}
ol.alpha > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}

.answer {
    padding-left: 15px;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.flexbox {
    display: flex;
    flex-direction: column;
}
.flexbox div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flexbox div p {
    text-align: center;
}

.flexcol {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bi {
    font-weight: bold;
    font-style: italic;
}

.bold {
    font-weight: bold;
}
.dumbold {
    color: rgb(24, 66, 117);
    font-weight: bold;
    text-align: center;
}

.italic {
    font-style: italic;
}

::selection {
    background-color: rgb(255, 255, 0);
}
::-moz-selection {
    background: rgb(255, 255, 0);
}

